.imgWrapper {
    width: fit-content;
}

.img {
    object-fit: scale-down;
    object-position: 50% 50%;
    width: 100%;
}


.cardWrapper {
    width: 100%;
}

.cardImg {
    width: 100%;
    height: auto;
}

.cardBody {
    color: var(--primary);
    padding: 3em 4em;
}

.cardBody h4 {
    margin-bottom: 1em;
}

@media screen and (max-width: 850px) {
    .cardBody {
        padding: 2em 0em;
    }
}