.wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
}

.wrapper div img {
    width: 100%;
}

@media screen and (max-width: 850px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}