.scrollContent {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    pointer-events: none;
}

.sideLine {
    position: absolute;
    top: 50%;
    width: 5vw;
    height: 1px;
    background-color: var(--primary);
    margin: auto;
    transition: 0.7s ease-in-out;
}

.sideBtn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 34%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: transparent;

    pointer-events: fill;
}

.sideBtn:hover .sideLine {
    width: 7vw;
}

/* left-Label Styles */
.sideBtn:first-child:hover {
    padding-right: 5vh;
}

.sideBtn:first-child {
    justify-content: flex-end;
    text-align: left;
    padding-left: 10vh;
}

.sideBtn:first-child div h4 {
    position: absolute;
    top: 48%;
    left: 5vw;
}

.sideBtn:first-child div h4:first-child {
    transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;
}

.sideBtn:first-child:hover div h4:first-child {
    transform: matrix(1, 0, 0, 1, 0, -12); opacity: 0;
}

.sideBtn:first-child div h4:last-child {
    transform: matrix(1, 0, 0, 1, 0, 10); opacity: 0; 
}

.sideBtn:first-child:hover div h4:last-child {
    transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; 
}


/* Right-label Styles */
.sideBtn:last-child:hover {
    padding-left: 5vh;
}

.sideBtn:last-child {
    justify-content: flex-start;
    text-align: right;
    padding-right: 10vh;
}

.sideBtn:last-child div h4 {
    position: absolute;
    top: 48%;
    right: 5vw;
}

.sideBtn:last-child div h4:first-child {
    transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;
}

.sideBtn:last-child:hover div h4:first-child {
    transform: matrix(1, 0, 0, 1, 0, -12); opacity: 0;
}

.sideBtn:last-child div h4:last-child {
    transform: matrix(1, 0, 0, 1, 0, 10); opacity: 0; 
}

.sideBtn:last-child:hover div h4:last-child {
    transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; 
}